@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Bebas+Neue&family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&family=Dancing+Script:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* 150px por columna */
  gap: 10px; /* Espacio entre los elementos */
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

input[type="number"] {
  padding: 0.5rem;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 1rem;
  font-weight: bold;
}

.image-container {
  position: relative;
  overflow: hidden;
  height: 250px; /* Mantiene la altura de la imagen consistente */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top; /* Enfoca la parte superior de la imagen */
  transition: transform 0.4s ease; /* Transición suave al hacer hover */
}

.image-container:hover img {
  transform: scale(1.2); /* Efecto de zoom */
}

iframe {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

iframe:hover {
  transform: scale(1.02);
}

.fontspecial p{
  font-family: 'Bebas Neue', sans-serif;
}
